* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
}
.app {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-image 0.5s;
  background-image: url("./assets/warm-bg.webp");
  &.cold {
    background-image: url("./assets/cold-bg.webp");
  }
  &.very-cold {
    background-image: url("./assets/very-cold-bg.webp");
  }
}
.app__inner {
  min-height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6));
}
.search__input,
.weather-info {
  width: 90%;
  max-width: 900px;
}
.search__input {
  margin: 0 auto 6rem;
  display: block;
  border-radius: 0 0 5px 5px;
  border: none;
  outline: none;
  padding: 15px 25px;
  font-size: 1.2rem;
  background-color: rgba(255, 255, 255, 0.6);
  transition: background-color 0.5s;
  color: #222;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  &:focus {
    background-color: rgba(255, 255, 255, 0.9);
  }
}
.weather-info {
  margin: 0 auto;
  color: #fff;
  text-align: center;
  user-select: none;
  span {
    display: block;
  }
}
.location-box {
  margin-bottom: 2rem;
  .location {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.2rem;
    letter-spacing: 1.5px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
}
.weather-box {
  font-size: 16px;
  .temperature {
    display: inline-block;
    padding: 20px 25px;
    margin: 0 auto;
    font-weight: 900;
    font-size: 4em;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  .weather {
    margin-top: 1em;
    font-weight: 700;
    font-size: 2em;
  }
}
.not-found-error {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 480px) {
  .search__input {
    margin: 0 auto 4rem;
    font-size: 1rem;
  }
  .weather-box {
    font-size: 12px;
  }
}
